{% extends 'base.html' %}

{% block body %}

    <h1>Super Sprinter 3000</h1>

    <a href="/story">Add new User Story</a>

    <table cellpadding="15">
        <tr align="center">
            {% for header in headers %}
                <strong>
                    <th height="20px"><h2>{{ header }}</h2></th>
                </strong>
            {% endfor %}
        </tr>

        {% for row in data %}
            <tr align="center">
                {% for key, value in row.items() %}
                    {% if key == 'title' %}
                        <td><a href="/story/{{ row.get('id') }}">{{ value }}</a></td>
                    {% elif key == 'business_value' %}
                        <td>{{ value }} point</td>
                    {% elif key == 'estimation' %}
                        <td>{{ value }} h</td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}